<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>My Awesome Project</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
        <link rel="stylesheet" href="all.css">
    </head>
    <body>
    <center>
    <h1>Carter Appreciation Site!</h1>
    
    <nav class="navbar">
            <div>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/contact">Contact Us</a>
                    </li>
                    <li>
                    	<a href="/Signup">Sign Up</a>
                    </li>
                </ul>
            </div>
        </nav>
     </center>
        <h1>I'm a <strong>freaking</strong> <em>cat,</em> sup.</h1>

        <div class="vidbox">
        <video loop autoplay id="cartervid">
        <source src="carterhanging.mov" type="video/mp4">
        </video>
        </div>
   
    
    </body>
    </html>
